@tailwind base;
@tailwind components;
@tailwind utilities;

.width-animations-fast {
    animation-name: width-animation;
    animation-duration: .8s;
}

.width-animations {
    animation-name: width-animation;
    animation-duration: 2s;
}


@keyframes width-animation {
    from {
        opacity: .2;
        width: 20%;
    }

    to {
        opacity: 1;
        width: full;
        display: block;
    }
}

.close-animation {
    animation-name: close-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes close-animation {
    from {

        opacity: 1;
        width: full;
    }

    to {
        opacity: .2;
        width: 20%;
    }
}

.footer-links-heading {
    color :darkgrey;
    font-size: 22px;
    font-weight: 600;
}
li {
    cursor: pointer;
}